.card {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.card__images {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.card__images-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__info {
  width: 31.6%;
  font-family: $font-text;
  font-style: normal;
  min-height: 435px;
  margin-right: 100px;
}

.card__info h3 {
  font-family: $font-head;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: $text-color;
  margin-top: -9px;
  margin-bottom: 10px;
}

.card__info-price {
  font-weight: normal;
  font-size: 26px;
  line-height: 34px;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 38px;
}

.card__info-additional {
}

.card__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 35px;
  color: #9b9997;
  padding: 0;
}

.card__active {
  color: $text-color;
}
.card__data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 17px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
}

.card__data-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 53px;
}
.card__data-item {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    left: 0px;
    top: 42px;
    border: 1px solid #f6f5f4;
  }
}

.card__data-item p {
  margin-bottom: 8px;
}

.card__data-specs {
  font-weight: normal;
}

.card__add {
  display: block;
  width: 100%;
  height: 68px;
  background: #a87b62;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 17px;
}
.card__delivery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #9b9997;
  width: 100%;
}

.card__delivery li {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .card {
  }
  .card__images {
    flex-direction: column-reverse;
    width: 319px;
  }
  .card__images-block {

  }

  .card__images-tablet {

  }

  .card__images-tablet img {
    width: 319px;
    height: 286px;
  }

  .card__images-block--tablet {
    flex-direction: row;
  }

  .card__images-block--tablet img {
    width: 97px;
    height: 129px;
  }

  .card__info {
    width: 50%;
  }
  .card__info-price {
  }
  .card__info-additional {
  }
  .card__button {
  }
  .card__active {
  }
  .card__data {
  }
  .card__data-list {
  }
  .card__data-item {
  }
  .card__data-specs {
  }
  .card__add {
  }
  .card__delivery {
    font-size: 12px;
    line-height: 16px;
  }
}
