.footer {
  background-color: #000000;
  min-height: 338px;
  padding-top: 80px;
  font-family: $font-text;
  font-style: normal;
  margin-top: 126px;
}

.footer__form {
  margin-right: 15px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.footer__form form {
  width: 500px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 500px;
    height: 0;
    left: 0;
    top: 31px;
    border: 1px solid #9b9997;
  }
}

.footer__form label {
  display: none;
}

.footer__form input {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #000000;
  border: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #9b9997;
  }
}

.footer__form button {
  padding-right: 41px;
  padding-left: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.footer__form h3 {
  margin: 0;
  margin-bottom: 8px;
  font-family: $font-head;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.footer__form p {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #9b9997;
  margin: 0;
  margin-bottom: 43px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 17px;
}

.footer__list li {
  margin-bottom: 21px;
  margin-right: 10px;
}
.footer__list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  &:hover {
    opacity: 0.5;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__icon {
  margin-right: 15px;
}

.footer__content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 49.5%;
}

@media (max-width: $tablet-width) {
  .footer {
    min-height: 446px;
    padding-top: 60px;
  }
  .footer__content {
  }
  .footer__form {
    margin-bottom: 65px;
    width: 100%;
  }

  .footer__form h3 {
  }

  .footer__form p {
    margin-bottom: 55px;
  }

  .footer__form form {
  }

  .footer__list {
  }
  .footer__list-item {
  }
  .footer__socials {
  }
  .footer__icon {
  }
}
