h1 {
  display: none;
}

.header {
  position: relative;
  padding-top: 30px;
  font-family: $font-text;
  font-style: normal;
  font-weight: 500;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    border: 1px solid #f6f5f4;
    left: 0;
    top: 115px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    border: 1px solid #f6f5f4;
    left: 0;
    top: 166px;
    display: none;
  }
}

.body__overflow {
  overflow-y: hidden;
}

.header-cart {
  &::after {
    top: 176px;
    display: block;
  }
}

.container {
  max-width: 1366px;
  padding: 0 98px;
  margin: 0 auto;
}

.container-catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__top-logo {
  margin-left: -66px;
  font-size: 0;
}

.header__top form {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.header__top button {
  width: 29px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 0;
  text-align: left;
  font-size: 0;
}

.header__top input {
  width: 160px;
  height: 21px;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 21px;

  &::placeholder {
    color: #9b9997;
  }

  &:hover {
    background-color: #f3f3f5;
  }

  &:focus {
    outline: 1px solid #9b9997;
  }
}

.header__personal {
  font-size: 14px;
  line-height: 21px;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 12px;
}

.header__personal a {
  color: $text-color;
}

.header__login {
  &:hover {
    opacity: 0.5;
  }
}

.header__cart {
  &:hover {
    opacity: 0.5;
  }
}

.header__cart-text {
  margin-right: 7px;
}

.header__menu {
  min-height: 61px;
  margin: 0 auto;
  margin-top: 19px;
  min-width: 493px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 43px;
}

.header__menu-item {
  color: $text-color;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 0;
  margin-right: 35px;

  &:hover {
    opacity: 0.5;
  }
}

.header__menu-list li {
  padding: 18px 0;
}

.header__image {
  height: 463px;
  background: url("../img/header_bg_desktop@1x.jpg") center no-repeat #a87b62;
  background-size: cover;
  text-align: center;
  padding-top: 182px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/header_bg_desktop@2x.jpg") center no-repeat #a87b62;
    height: 463px;
  }
}

.header__image-catalog {
  height: 261px;
  padding-top: 92px;
  background: url("../img/header_bgCat_desktop@1x.jpg") center no-repeat #a87b62;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/header_bgCat_desktop@2x.jpg") center no-repeat #a87b62;
    height: 261px;
  }
}

.header__image h2 {
  margin: 0;
  font-family: $font-head;
  font-weight: bold;
  font-size: 45px;
  line-height: 58px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.header__image-title {
  font-size: 34px;
  line-height: 44px;
}

.header__image p {
  margin: 0;
  margin-top: -8px;
  font-family: $font-head;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 49px;
  color: #ffffff;
}

.header__image-catalog h2 {
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 10px;
  letter-spacing: 0;
}

.header__image-catalog p {
  font-size: 22px;
  line-height: 29px;
}

.header__image-text {
  font-size: 22px;
  line-height: 29px;
}

.header__top-toggle {
  display: none;
  font-size: 0;
  cursor: pointer;
}

.header__hidden-list {
  display: none;
}

.header__logo {
  fill: $text-color;

  &:hover {
    opacity: 0.5;
  }
}

.header-logo--active {
  fill: #ffffff;
}

.header__cart-image {
  display: none;
}

@media (max-width: $tablet-width) {
  .header {
    margin-top: 0;

    &::before {
      display: none;
    }
  }

  .header-cart {
    &::after {
      display: none;
    }
  }

  .header-bg {
    background-color: #a87b62;
    min-width: 320px;
  }

  .container {
    width: auto;
    padding: 0 45px;
  }

  .header__top {
    position: relative;
    align-items: center;
    margin-bottom: 26px;
  }

  .header__personal {
    min-width: 18px;
    padding-top: 0;
  }

  .header__personal a {
    color: #ffffff;
  }

  .header__login {
    position: absolute;
    left: 0;
    top: 651px;
    font-size: 18px;
    line-height: 23px;
    display: none;
  }

  .header__login--active {
    display: block;
  }

  .header__cart {
    display: block;
    width: 18px;
    height: 16px;
  }

  .header__top-burger {
    stroke: #000000;
  }

  .header__top-burger--active {
    stroke: #ffffff;
  }

  .header__top-search {
    fill: #ffffff;
  }

  .header__top-logo {
    margin-left: -11px;
  }

  .header__logo {
    fill: #000000;
  }

  .header__logo--active {
    fill: #ffffff;
  }

  .header__cart-image {
    display: block;
    stroke: $text-color;
    fill: #ffffff;
  }

  .header__cart-image--active {
    display: block;
    stroke: #ffffff;
    fill: #a87b62;
  }

  .header__cart-text {
    display: none;
  }

  .header__cart-counter {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__menu--active {
    display: block;
  }

  .header__menu-list {
    flex-direction: column;
    margin-top: 109px;
    padding-left: 0;
  }

  .header__menu-list li {
    padding: 11px 0;
  }

  .header__menu-item {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }

  .header__hidden-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-top: 27px;
    margin-bottom: 140px;
  }

  .header__hidden-list--card {
    padding-bottom: 182px;
  }

  .header__hidden-list li {
    margin-bottom: 20px;
  }

  .header__hidden-item {
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.75);

    &:hover {
      color: #ffffff;
    }
  }

  .header__image {
    background: url("../img/header_bg_tabtet@1x.jpg") center no-repeat #a87b62;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/header_bg_tabtet@2x.jpg") center no-repeat #a87b62;
      background-size: 768px;
      height: 463px;
    }
  }

  .header__image-catalog {
    background: url("../img/header_bgCat_tablet@1x.jpg") center no-repeat #a87b62;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/header_bgCat_tablet@2x.jpg") center no-repeat #a87b62;
      background-size: 768px;
      height: 261px;
    }
  }

  .header__image h2 {
    margin-left: -16px;
  }

  .header__image p {
    margin-left: -16px;
  }

  .header__image-catalog h2 {
    font-size: 34px;
    line-height: 44px;
    margin-left: 0;
  }

  .header__image-catalog p {
    font-size: 22px;
    line-height: 29px;
    margin-left: 0;
  }

  .header__top-toggle {
    display: block;
    padding: 0;
    margin-top: 30px;

    &:hover {
      opacity: 0.5;
    }
  }

  .header__form-wrapper {
    width: 100%;
    display: none;
  }

  .header__form-wrapper--active {
    display: block;
  }

  .header__top form {
    position: absolute;
    left: 0;
    top: 106px;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 21px;
    padding-top: 0;
  }

  .header__top button {
    margin-top: -5px;
  }

  .header__top button[type="submit"] {
    margin-top: 10px;
    padding-left: 10px;
  }

  .header__top input {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    height: 40px;

    &::placeholder {
      font-size: 0;
    }

    &:hover {
      background: none;
    }
  }

  .container-catalog {
    display: block;
  }
}

@media (max-width: $mobile-width) {
body {
  overflow-x: hidden;
}

  .header {
    padding-top: 19px;
  }

  .container {
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .header__top {
    margin-bottom: 17px;
  }

  .header__top form {
    top: 84px;
  }

  .header__login {
    top: 598px;
  }

  .header__menu-list {
    margin-top: 89px;
  }

  .header__hidden-list {
    margin: 18px 0 104px;
  }

  .header__image {
    background: url("../img/header_bg_mobile@1x.jpg") center no-repeat #a87b62;
    background-size: cover;
    height: 463px;
    padding-top: 189px;
    min-width: 320px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/header_bg_mobile@2x.jpg") center no-repeat #a87b62;
      height: 463px;
    }
  }

  .header__image-catalog {
    text-align: center;
    height: 261px;
    padding-top: 78px;
    background: url("../img/header_bgCat_mobile@1x.jpg") center no-repeat #a87b62;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/header_bg_mobile@2x.jpg") center no-repeat #a87b62;
      height: 261px;
    }
  }

  .header__image h2 {
    font-size: 38px;
    line-height: 49px;
    margin-left: 3px;
  }

  .header__image p {
    font-size: 34px;
    line-height: 44px;
    margin-left: 0;
  }

  .header__image-catalog h2 {
    font-size: 34px;
    line-height: 44px;
    margin-left: 0;
    margin-bottom: 3px;
  }

  .header__image-catalog p {
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto;
    width: 80%;
  }

  .header__logo {
    width: 52px;
    height: 52px;
  }
}
