h1 {
  display: none;
}
.header {
  margin-top: 30px;
  font-family: $font-text;
  font-style: normal;
  font-weight: 500;
}
.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__top form {
  display: flex;
  justify-content: space-between;
}

.header__top button {
  width: 29px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
}

.header__top input {
  width: 147px;
  height: 21px;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 21px;

  &::placeholder {
    color: #9b9997;
  }

  &:hover {
    background-color: #f3f3f5;
  }

  &:focus {
    outline: none;
  }
}

.header__personal {
  font-size: 14px;
  line-height: 21px;
}

.header__personal a {
  color: $text-color;
}

.header__login {
  &:hover {
    opacity: 0.5;
  }
}
.header__cart {
  &:hover {
    opacity: 0.5;
  }
}
.header__cart-counter {
}
.header__menu {
  min-height: 61px;
  margin: 0 auto;
  min-width: 493px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header__menu-item {
  color: $text-color;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 0;
  margin-right: 35px;

  &:hover {
    opacity: 0.5;
  }
}

.header__menu-list li {
  padding: 18px 0;
}

.header__image {
  height: 463px;
  background: url("../img/header_bg_desktop@1x.jpg") center no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 195px;
}

.header__image-catalog {
  height: 261px;
  padding-top: 102px;
  background: url("../img/header_bgCat_desktop@1x.jpg") center no-repeat;
  background-size: cover;
}

.header__image h2 {
  margin: 0;
  font-family: $font-head;
  font-weight: bold;
  font-size: 45px;
  line-height: 58px;
  color: #ffffff;
  text-transform: uppercase;
}

.header__image-title {
  font-size: 34px;
  line-height: 44px;
}

.header__image p {
  margin: 0;
  font-family: $font-head;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 49px;
  color: #ffffff;
}

.header__image-text {
  font-size: 22px;
  line-height: 29px;
}

.header__top-toggle {
  display: none;
  font-size: 0;
  cursor: pointer;
}

.header__hidden-list {
  display: none;
}

@media (max-width: $tablet-width) {
  .header {
    background-color: #a87b62;
    margin-top: 0;
  }
  .container {
    padding: 0 45px;
  }
  .header__top {
    position: relative;
    padding-top: 50px;
    align-items: center;
  }
  .header__personal {

  }

  .header__personal a {
    color: #ffffff;
  }

  .header__login {
    position: absolute;
    left: 0;
    top: 730px;
    font-size: 18px;
    line-height: 23px;
  }
  .header__cart {
    display: block;
    width: 18px;
    height: 16px;
    background: url("../img/icon-cart.svg") center no-repeat;
    margin-top: 10px;
  }

  .header__cart-text {
    display: none;
  }

  .header__cart-counter {
    display: none;
  }
  .header__menu {
  }
  .header__menu-list {
    flex-direction: column;
    margin-top: 90px;
  }

.header__menu-list li {
  padding: 12px 0;
}

  .header__menu-item {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }

  .header__hidden-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-top: 55px;
    margin-bottom: 140px;
  }

  .header__hidden-list li {
    margin-bottom: 25px;
  }

  .header__hidden-item {
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.75);

    &:hover {
      color: #ffffff;
    }
  }


  .header__image {
    background: url("../img/header_bg_tabtet@1x.jpg") center no-repeat;
    background-size: cover;
  }

  .header__top-toggle {
    display: block;
    padding: 0;
    margin-top: 30px;
  }

  .header__top form {
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 21px;
  }

  .header__top svg {
  }

  .header__top button {
    margin-top: 10px;
  }

  .header__top-burger {

  }

  .header__top input {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    height: 40px;

    &::placeholder {
      font-size: 0;
    }

    &:hover {
      background: none;
    }
  }

  .container-catalog {
    display: block;
  }
}
