.new {
}
.new__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.new__menu-card {
  margin-top: 108px;
}

.new__button {
  width: 29px;
  height: 9px;
  border: none;
  cursor: pointer;
  padding: 40px 0;

  &:hover {
    opacity: 0.5;
  }
}

.new__button-left {
  background: url("../img/arrow_left.svg") left 45px no-repeat;
}

.new__button-right {
  background: url("../img/arrow_right.svg") left 45px no-repeat;
}

.new__menu-title {
  font-style: normal;
  color: $text-color;
  text-align: center;
}

.new__menu-title h3 {
  font-family: $font-head;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 24px;
}

.new__menu-title a {
  font-family: $font-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $text-color;
  margin-bottom: 0;
  position: relative;

  &:hover {
    opacity: 0.5;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    border: 1px solid #a87b62;
    top: 21px;
    left: 0;
  }
}

.new__list {
  font-family: $font-text;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 60px;
  padding: 0;
  text-align: center;
}

.new__list-catalog {
  margin-top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new__list a {
  color: $text-color;
  margin-bottom: 25px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.new__list img {
  width: 100%;
  height: auto;
}

.new__list-catalog a {
  margin-bottom: 17px;

  &:nth-child(3n + 3) {
    margin-right: 0px;
  }
}

.new__list-catitem {
  margin-bottom: 19px;
}

.new__list-item p {
  margin-top: 19px;
  margin-bottom: 7px;
}

.new__list-item span {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}

.new__list-item {
  &:hover {
    opacity: 0.7;
  }
}
.new__counter,
.new__nav-counter {
  text-align: center;
  font-family: $font-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-top: 28px;
}

.new__nav-counter {
  margin-top: 0;
  width: 96px;
  display: flex;
  justify-content: space-between;
  margin-left: -33px;
}

.new__counter span {
  margin-left: 8px;

  &:first-child {
    margin-left: 0;
  }
}

.new__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 0;
}

.new__nav-button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $font-text;
  height: 12px;
  padding: 0;
}

.new__counter-tablet {
  display: none;
}

.new__counter-pages {
  display: none;
}

@media (max-width: $tablet-width) {
  .new {
    margin: 0 auto;
  }
  .new__menu {
    margin-bottom: 50px;
    margin-top: 70px;
  }

  .new__menu-card {
    margin-top: 64px;
  }

  .new__button {
  }
  .new__button-left {
  }
  .new__menu-title {
  }
  .new__button-right {
  }
  .new__list {
    max-width: 678px;
    overflow: hidden;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: space-between;
  }

  .new__list li {
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  .new__list a {
    margin-right: 30px;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  .new__list img {
    width: 324px;
    height: 340px;
  }

  .new__list-catalog {
    width: 100%;
    flex-wrap: wrap;
  }

  .new__list-catitem {
    margin-bottom: 19px;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  .new__list-catalog img {
    width: 206px;
    height: 208px;
  }

  .new__list-item {
  }

  .new__list-item {
    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .new__counter {
    margin-top: 17px;
  }

  .new__counter-number {
    display: inline-block;
    vertical-align: middle;
  }

  .new__counter-tablet {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: $mobile-width) {
  .container {
    padding: 0 15px;
  }
  .new {
  }
  .new__menu {
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 60px;
  }

  .new__menu-card {
    margin-top: 41px;
  }

  .new__menu button {
    display: none;
  }

  .new__button {
  }
  .new__button-left {
  }
  .new__menu-title {
  }

  .new__menu-title h3 {
    margin-bottom: 20px;
  }

  .new__button-right {
  }
  .new__list {
    max-width: 290px;
  }

  .new__list-catalog {
    max-width: 290px;
    justify-content: space-between;
  }

  .new__list-catalog a {
    margin-right: 0;
    width: 130px;
  }

  .new__list img {
    width: 130px;
    height: 136px;
  }

  .new__list-item {
  }

  .new__list-catitem {
    text-align: center;
    margin-bottom: 6px;
  }

  .new__list-catitem p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #1d1613;
    margin-right: 0;
    margin-top: 0;
  }

  .new__list-item p {
    margin-top: 14px;
  }
  .new__counter {
    margin-top: 8px;
  }
  .new__counter-number {
    display: none;
  }
  .new__counter-tablet {
  }

  .new__nav {
    justify-content: center;
    margin-top: 12px;
  }

  .new__counter-pages {
    display: inline-block;
    vertical-align: middle;
  }

  .new__nav-button {
    display: none;
  }

  .new__nav-counter {

    width: 150px;
    margin-left: 0;
  }
}
